{% extends 'base.html' %}
{% block css %}
#div1{
padding-top:250px;
padding-bottom:250px
}
#head1{
color:green;
text-aligment:center;
}
{% endblock %}
{% block body %}
<div class="container" id="div1">
   *Rs. 11 lakh less interest on a loan amount of Rs 50 lakhs, for a tenure of 20 years at 9.20% p.a.
Home Loans will be sanctioned at the sole discretion of Qilin-Bank, subject to the fulfillment of
its terms and conditions and eligibility criteria. The product may be discontinued by the Bank at
any time, without prior notice to the customer. Images herein are provided only for pictorial
representation and Qilin-Bank does not undertake any liability or responsibility for the same.
Contents of this advertisement, products and services offered by Axis Bank are subject
to applicable laws and regulatory guidelines/regulations. Qili-Bank may use the services of
agents for sales, marketing and promotion of the product

</div>
{% endblock %}
